/*
    Put your style/CSS customizations here.
    It's loaded after all the other CSS files, so any CSS rules here
    will override rules in other files.
 */

/* The following example turns the background to yellow if you uncomment it. */


canvas {
    margin-top: 20px;
    width: 600px;
    height: 250px;
  }



body {
  /* background-color: #f1c40f; */
/*background-image: url("../res/back4.jpg");
background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;*/
}

.navbar {
    background: rgba(20, 33, 40, 0.82);
    border: none;
    -webkit-box-shadow: 0px 0px 3px 2px rgb(19, 44, 54);
    -moz-box-shadow: 0px 0px 3px 2px rgb(19, 44, 54);
    box-shadow: 0px 0px 3px 2px rgb(19, 44, 54);
  /*  position: fixed; */
    top: 0;
    z-index: 50;
    width: 100%;
    float: left;
    left: 0;
    color: white;
}

.panel {
  background: rgba(20, 33, 40, 0.82);
  border: none;
  -webkit-box-shadow: 0px 0px 3px 2px rgb(19, 44, 54);
  -moz-box-shadow: 0px 0px 3px 2px rgb(19, 44, 54);
  box-shadow: 0px 0px 3px 2px rgb(19, 44, 54);
  color: white;
}

.link_list ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.link_list ul li { display: inline; }

 .BOMB_TILE:after{ content: "\ \2620"; }

.BitSweepTable{
 position:relative;
 cursor:default;
}

.bs {
  position:relative;
  width: 100%;
  height: 458px;
  border: 15px solid #3C3C3C;
  border-radius: 15px;
  background: #004c4d;
  /*background: #003399;*/
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
cursor:default;
}

.bs-field{
z-index: 1;
position: relative;
margin-top: -10px;
/*margin-left: 27%;
width:468px;
height:453px;*/
width:468px;
height:453px;
border-radius: 15px;
border:20px solid #3C3C3C;
/*pointer-events:none;*/

}

.B_bet_table {
  position: relative;
  margin-top: -5px;
  margin-left: -18px;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif !important;
  text-align:center;
  background:none;
width:440px;
}
.B_bet_table  p {
  position:absolute;
  margin-left: 10px;
  margin-top:-10px;
  text-align:center;
        -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
cursor:default;

}

.B_bet_table td {
  padding: 15px 16px;
  overflow: hidden;
  word-break: normal;
  border: 4px solid black;
  width: 55px;
  height: 83px;

}

.B_bet_table .bs-hide {
  background-color:#7575a3;
  color: #efefef;
}

.bs-hide  button{
 background: none;
 outline:none;
 border:none;
 position: absolute;
 width: 82px;
 height: 80px;
 margin-left: -41px;
 margin-top: -39px;
    cursor:pointer;
}

.bs-hide button:hover {
  background:rgba(137, 231, 255, 0.6);
}

.WIN_TILE {
  width:85px;
  height:80px;
  padding-top:4px;
  font-family: Impact, Charcoal, sans-serif !important;
  font-size:14px;
  color: green;
  position:absolute;
  border:2px solid grey ;
  background: #000000;
  /*border-radius: 45px;*/
  text-align:center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  cursor:pointer;
}

.BOMB_TILE {
  width:85px;
  height:80px;
  padding-top:4px;
  font-family: Impact, Charcoal, sans-serif !important;
  font-size:40px;
  color: black;
  position:absolute;
  border:2px solid grey ;
  background: #B50B32;
  /*border-radius: 45px;*/
  text-align:center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  cursor:pointer;
}

.WIN_TILE, .BOMB_TILE{
      margin-left:-7px;
  margin-top:-40px;
}



.RouletteTable{
 position:relative;
 cursor:default;
}

.rt {
  position:relative;
  width: 100%;
  height: 405px;
  border: 15px solid #3C3C3C;
  border-radius: 15px;
  background: #004c4d;
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
cursor:default;
}

.rt-field{
z-index: 1;
position: relative;
margin-top: -10px;
margin-left: 27%;
width: 74%;
height:203px;
border-radius: 25px;
border:25px solid #3C3C3C;
/*pointer-events:none;*/

}

.rt-mask{
z-index: 1;
position: relative;
margin-top: -350px;
margin-left: -50px;
width: 550px;
height:203px;
border-radius: 25px;
border:25px solid #AAAAAA;
pointer-events:none;

}

.rt-wheel{
    z-index: 10;
    position: relative;
    margin-top: -202px;
    margin-left: -10px;
    border: 15px solid #3C3C3C;
    border-radius: 25px;
    padding: 15px 10px 10px 20px;
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif !important;
    color: white;
    width: 28%;
    height: 105%;
}

.outcome{

    width:100%;
    border: 2px solid white;
    font-size: 150px;
    text-align: center;
    background: #B50B32;
}

.history{
  height:52px;
  width:52px;
  border: 1px solid white;
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif !important;
  color: white;
  text-align: center;
  background: #B50B32;
}


.R_bet_table {
  position: relative;
  margin-top: -5px;
  margin-left: -5px;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif !important;
  text-align:center;
  background:none;
width:770px;
}
.R_bet_table  p {
  position:absolute;
  margin-left: 2px;
  margin-top:-12px;
  text-align:center;
        -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
cursor:default;

}

.R_bet_table td {
  padding: 15px 16px;
  overflow: hidden;
  word-break: normal;
  border: 1px solid grey;
  width: 55px;
  height: 52px;

}

.R_bet_table .rt-red {
  background-color:#B50B32;
  color: #efefef;
}

.R_bet_table .rt-0 {
  width: 53px;
  height: 159px;
  background-color: #009901;
  color: white;
}

.R_bet_table .rt-black {
  background-color: black;
  color: #efefef;
}

.R_bet_table .rt-green {
  background-color: #004c4d;
  color: #ffffff;
}

/* hidden divs for chips */
.four-bet{
  position: absolute;
  width: 21px;
  height: 10px;
	cursor:pointer;
  margin-left: 25px;
  margin-top: 75px;
  z-index: 1;
}

.tri1-bet{
    position: absolute;
    width: 21px;
    height: 12px;
	cursor:pointer;
    margin-left: 28px;
    margin-top: -32px;
    z-index: 1;
}

.tri2-bet{
       position: absolute;
    width: 21px;
    height: 12px;
	cursor:pointer;
    margin-left: 28px;
    margin-top: 20px;
    z-index: 1;
}
.split03-bet{
    position: absolute;
    width: 20px;
    height: 34px;
	cursor:pointer;
    margin-left: 30px;
    margin-top: -72px;
    z-index: 1;
}
.split02-bet{
    position: absolute;
    width: 20px;
    height: 34px;
	cursor:pointer;
    margin-left: 30px;
    margin-top: -17px;

    z-index: 1;
}
.split01-bet{
     position: absolute;
    width: 20px;
    height: 34px;
	cursor:pointer;
    margin-left: 30px;
    margin-top: 34px;
    z-index: 1;

}

.SplitV-bet{
  background: none;
  outline:none;
  border:none;
  position: absolute;
  width:34px;
  height:21px;
  margin-left:-8px;
  margin-top:15px;
  z-index:5;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 text-decoration: none;
 cursor: pointer;
}

.SplitH-bet{
  background: none;
  outline:none;
  border:none;
  position: absolute;
  width:18px;
  height:34px;
  margin-left:29px;
  margin-top:-22px;
  z-index:5;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 text-decoration: none;
 cursor: pointer;
}

.Corner-bet{
  background: none;
  outline:none;
  border:none;
  position: absolute;
  width:18px;
  height:15px;
  margin-left:29px;
  margin-top:18px;
  z-index:5;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 text-decoration: none;
 cursor: pointer;
}

.Street-bet{
position: absolute;
width: 34px;
height: 14px;
margin-left: -8px;
margin-top: 20px;
z-index: 1;
cursor:pointer;
}

.StreetCorner-bet{
position: absolute;
width: 21px;
height: 14px;
cursor:pointer;
margin-left: 27px;
margin-top: 20px;
z-index: 1;
}
/*end hidden divs*/
/* chip types */
.s1Chip,.s2Chip,.s3Chip, .chip, .SVchip, .SHchip, .cnChip, .dozenChip, .halfChip, .streetChip, .dsChip, .tri1Chip,.tri2Chip, .fourChip {
  width:28px;
  height:28px;
  padding-top:4px;
    font-family: Impact, Charcoal, sans-serif !important;
  font-size:13px;

  color: white;
  position:absolute;
  border:3px solid grey ;
  background: #0985ff;
  border-radius: 45px;
  text-align:center;
       -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
cursor:pointer;
}

.chip, .dozenChip, .halfChip{
      margin-left:8px;
  margin-top:-14px;
}


.fourChip {
  font: arial;
cursor: pointer;
  margin-left:0px;
  margin-top:-5px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}

.tri1Chip {
  font: arial;

  margin-left:-3px;
  margin-top:-8px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}
.tri2Chip {
  font: arial;

  margin-left:-3px;
  margin-top:-7px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}

.s3Chip {
  font: arial;
cursor: pointer;
  margin-left:-5px;
  margin-top:6px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}
.s2Chip {
  font: arial;

  margin-left:-5px;
  margin-top:3px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}
.s1Chip {
  font: arial;

  margin-left:-5px;
  margin-top:7px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}

.streetChip {
  font: arial;

  margin-left:5px;
  margin-top:-4px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}
.dsChip {
  font: arial;

  margin-left:-3px;
  margin-top:-4px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}

.SVchip {
  font: arial;

  margin-left:-5px;
  margin-top:9px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}

.SHchip {
  font: arial;

  margin-left:6px;
  margin-top:-3px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}

.cnChip {
  font: arial;

  margin-left:-5px;
  margin-top:-5px;
      -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;

}






/* end chip types*/

.rt-0 button {
 background: none;
 outline:none;
 border:none;
 position: absolute;
 width:53px;
 height:159px;
 margin-left:-26px;
 margin-top:-79px;
cursor:pointer;
}

.rt-0 p{
margin-left:8px;
}

.rt-0 button:hover {
  background:rgba(137, 231, 255, 0.6);
}


.rt-black button{
 background: none;
 outline:none;
 border:none;
 position: absolute;
 width: 54px;
 height: 53px;
 margin-left: -27px;
 margin-top: -27px;
    cursor:pointer;
}

.rt-black button:hover {
  background:rgba(137, 231, 255, 0.6);
}

.rt-red  button{
 background: none;
 outline:none;
 border:none;
 position: absolute;
 width: 54px;
 height: 53px;
 margin-left: -27px;
 margin-top: -27px;
    cursor:pointer;
}

.rt-red button:hover {
  background:rgba(137, 231, 255, 0.6);
}

.rt-green button{
 background: none;
 position:absolute;
 outline:none;
 border:none;
 position: absolute;
 width:53px;
 height:53px;
 margin-left:-26px;
 margin-top:-27px;
 cursor:pointer;
}

.rt-green p{
  position:absolute;
}

.rt-green button:hover {
  background:rgba(137, 231, 255, 0.6);
}

.r1 button{
background:none;
outline:none;
border:none;
position: absolute;
width: 215px;
height: 53px;
margin-left: -108px;
margin-top: -27px;
    cursor:pointer;
}

.r2 button{
background:none;
outline:none;
border:none;
position: absolute;
width: 326px;
height: 53px;
margin-left: -163px;
margin-top: -27px;
cursor:pointer;
}

.r3 button{
background:none;
outline:none;
border:none;
position: absolute;
width: 163px;
height: 53px;
margin-left: -82px;
margin-top: -27px;
cursor:pointer;
}

.r1 p{
  margin-left: 75px;
}

.r2 p{
  margin-left: 135px;
}

.r3 p{
    margin-left: 45px;
}

.select button{
   background:rgba(137, 231, 255, 0.6);
}
